<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <img src="../../assets/images/logo.svg" alt="Logo">
            </div>
            <div class="footer__links">
                <div class="footer__social">
                    <h3>Follow us</h3>
                    <a href="https://twitter.com/" class="footer__social-link">
                        <img src="../../assets/images/icon_twitter.svg" alt="Icon twitter">
                    </a>
                    <a href="https://facebook.com/" class="footer__social-link">
                        <img src="../../assets/images/icon_facebook.svg" alt="Icon facebook">
                    </a>
                    <a href="https://youtube.com/" class="footer__social-link">
                        <img src="../../assets/images/icon_youtube.svg" alt="Icon youtube">
                    </a>
                </div>
                <div class="footer__destinations">
                    <h3>Destinos</h3>
                    <ul>
                        <li>Madrid</li>
                        <li>Barcelona</li>
                        <li>Londres</li>
                        <li>París</li>
                        <li>Roma</li>
                    </ul>
                </div>
                <div class="footer__legal">
                    <h3>Información legal</h3>
                    <ul>
                        <li>Política de privacidad</li>
                        <li>Política de cookies</li>
                        <li>Tratamiento de datos</li>
                    </ul>
                </div>
                <div class="footer__book">
                    <h3>Reserva tu vuelo</h3>
                    <ul>
                        <li>Buscar vuelos</li>
                        <li>Calendario de precios</li>
                        <li>Mapa de destinos</li>
                        <li>Horarios de vuelo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                Website terms of use | Site map | enviroment | contact@arilines.com
            </div>
        </div>
    </div>
</footer>