<div class="bannerfixed">
    <div class="container">
        <div class="bannerfixed__card">
            <div class="bannerfixed__image">
                <img src="../../assets/images/banner-fixed.jpg" alt="">
            </div>
            <div class="bannerfixed__content">
                <h3 class="bannerfixed__content-title">
                    Our destinations
                    <span class="bannerfixed__content-title--modifier">Discover the world</span>
                </h3>
                <p class="bannerfixed__content-description">
                    Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for
                    you to explore the world together!
                </p>
            </div>
        </div>
    </div>
</div>