.offers {
    width: 100%;
    padding: 20px;
    &__title{
        margin-bottom: 20px;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    &__card{
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
    }
}

@media screen and (min-width: 750px) {
    .offers{
        &__cards{
            flex-direction: row;
        }
        &__card{
            width: 25%;
            &:nth-child(2){
                width: 50%;
            }
        }
    }
}