<div class="offers">
    <div class="container">
        <h1 class="offers__title">Ofertas</h1>
        <div class="offers__cards">
            <app-offers-card class="offers__card" [image]="image1" [destination]="destination1" [price]="price1"></app-offers-card>
            <app-offers-card class="offers__card" [image]="image2" [destination]="destination2" [price]="price2"></app-offers-card>
            <app-offers-card class="offers__card" [image]="image3" [destination]="destination3" [price]="price3"></app-offers-card>
        </div>
    </div>
</div>